In [40]:
import pandas as pd
import numpy as np

In [2]:
df_x = pd.read_csv('train.csv')

In [3]:
df_x.head()

,ID,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,0,Resort Hotel,0,342,2015,July,27,1,0,0,...,No Deposit,NaN,NaN,0,Transient,-6.305161,0,0,Check-Out,2015-07-01
1,1,City Hotel,0,257,2015,July,27,1,0,2,...,No Deposit,6.0,NaN,0,Transient,75.052227,0,0,Check-Out,2015-07-03
2,2,City Hotel,0,257,2015,July,27,1,0,2,...,No Deposit,6.0,NaN,0,Transient,74.546401,0,0,Check-Out,2015-07-03
3,3,City Hotel,0,257,2015,July,27,1,0,2,...,No Deposit,6.0,NaN,0,Transient,76.376288,0,0,Check-Out,2015-07-03
4,4,City Hotel,0,257,2015,July,27,1,0,2,...,No Deposit,6.0,NaN,0,Transient,49.411647,0,0,Check-Out,2015-07-03

In [4]:
df_x.columns.tolist()

['ID',
 'hotel',
 'is_canceled',
 'lead_time',
 'arrival_date_year',
 'arrival_date_month',
 'arrival_date_week_number',
 'arrival_date_day_of_month',
 'stays_in_weekend_nights',
 'stays_in_week_nights',
 'adults',
 'children',
 'babies',
 'meal',
 'country',
 'market_segment',
 'distribution_channel',
 'is_repeated_guest',
 'previous_cancellations',
 'previous_bookings_not_canceled',
 'reserved_room_type',
 'assigned_room_type',
 'booking_changes',
 'deposit_type',
 'agent',
 'company',
 'days_in_waiting_list',
 'customer_type',
 'adr',
 'required_car_parking_spaces',
 'total_of_special_requests',
 'reservation_status',
 'reservation_status_date']

In [5]:
df_x.shape

(91531, 33)

In [6]:
df_test = pd.read_csv('test.csv')

In [7]:
both_columns = [x for x in df_x.columns.tolist() if x in df_test.columns.tolist()]

In [8]:
both_columns

['ID',
 'hotel',
 'lead_time',
 'arrival_date_year',
 'arrival_date_month',
 'arrival_date_week_number',
 'arrival_date_day_of_month',
 'stays_in_weekend_nights',
 'stays_in_week_nights',
 'adults',
 'children',
 'babies',
 'meal',
 'country',
 'market_segment',
 'distribution_channel',
 'is_repeated_guest',
 'previous_cancellations',
 'previous_bookings_not_canceled',
 'reserved_room_type',
 'assigned_room_type',
 'booking_changes',
 'deposit_type',
 'agent',
 'company',
 'days_in_waiting_list',
 'customer_type',
 'required_car_parking_spaces',
 'total_of_special_requests']

In [9]:
nan_replacements = {"children": 0.0,"country": "Unknown", "agent": 0, "company": 0}
df_x = df_x.fillna(nan_replacements)
df_x["meal"].replace("Undefined", "SC", inplace=True)
df_test = df_test.fillna(nan_replacements)
df_test["meal"].replace("Undefined", "SC", inplace=True)

In [10]:
df_x['arrival_date'] = df_x['arrival_date_year'].astype(str) + '-' + pd.to_datetime(df_x['arrival_date_month'], format='%B').dt.month.astype(str).apply(lambda x: x.zfill(2)) + '-' + df_x['arrival_date_day_of_month'].astype(str).apply(lambda x: x.zfill(2))
df_test['arrival_date'] = df_test['arrival_date_year'].astype(str) + '-' + pd.to_datetime(df_test['arrival_date_month'], format='%B').dt.month.astype(str).apply(lambda x: x.zfill(2)) + '-' + df_test['arrival_date_day_of_month'].astype(str).apply(lambda x: x.zfill(2))

In [11]:
df_x[both_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91531 entries, 0 to 91530
Data columns (total 29 columns):
ID                                91531 non-null int64
hotel                             91531 non-null object
lead_time                         91531 non-null int64
arrival_date_year                 91531 non-null int64
arrival_date_month                91531 non-null object
arrival_date_week_number          91531 non-null int64
arrival_date_day_of_month         91531 non-null int64
stays_in_weekend_nights           91531 non-null int64
stays_in_week_nights              91531 non-null int64
adults                            91531 non-null int64
children                          91531 non-null float64
babies                            91531 non-null int64
meal                              91531 non-null object
country                           91531 non-null object
market_segment                    91531 non-null object
distribution_channel              91531 non-null object
is_repeated_guest                 91531 non-null int64
previous_cancellations            91531 non-null int64
previous_bookings_not_canceled    91531 non-null int64
reserved_room_type                91531 non-null object
assigned_room_type                91531 non-null object
booking_changes                   91531 non-null int64
deposit_type                      91531 non-null object
agent                             91531 non-null float64
company                           91531 non-null float64
days_in_waiting_list              91531 non-null int64
customer_type                     91531 non-null object
required_car_parking_spaces       91531 non-null int64
total_of_special_requests         91531 non-null int64
dtypes: float64(3), int64(16), object(10)
memory usage: 20.3+ MB

In [12]:
num_columns = ['lead_time', 'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children', 'babies', 'is_repeated_guest', 'previous_cancellations', 'previous_bookings_not_canceled', 'booking_changes', 'agent', 'company', 'days_in_waiting_list']

In [14]:
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor

In [15]:
clf = RandomForestClassifier(n_estimators=300, max_depth=5, random_state=0, oob_score=True)

In [16]:
clf.fit(df_x[num_columns], df_x.is_canceled)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=5, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=300,
                       n_jobs=None, oob_score=True, random_state=0, verbose=0,
                       warm_start=False)

In [18]:
clf.oob_score_

0.7367886289890857

In [20]:
reg = RandomForestRegressor(n_estimators=300, max_depth=5, random_state=0, oob_score=True)

In [23]:
df_x_not_cancelled = df_x[df_x.is_canceled==False]

In [24]:
reg.fit(df_x_not_cancelled[num_columns], df_x_not_cancelled.adr)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=5,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=300,
                      n_jobs=None, oob_score=True, random_state=0, verbose=0,
                      warm_start=False)

In [25]:
reg.oob_score_

0.2645224418207127

In [26]:
df_test['is_canceled'] = clf.predict(df_test[num_columns])

In [27]:
df_test_not_cancelled = df_test[df_test.is_canceled==False]

In [29]:
df_test_not_cancelled['adr'] = reg.predict(df_test_not_cancelled[num_columns])

In [30]:
df_test_not_cancelled['revenue'] = df_test_not_cancelled.adr*(df_test_not_cancelled.stays_in_week_nights+df_test_not_cancelled.stays_in_weekend_nights)

In [31]:
day_revenue = df_test_not_cancelled.groupby('arrival_date')['revenue'].sum()

In [32]:
day_revenue

arrival_date
2017-04-01    48687.893542
2017-04-02    34300.432966
2017-04-03    65462.831933
2017-04-04    37478.947416
2017-04-05    69707.223577
                  ...
2017-08-27    51123.924572
2017-08-28    73542.772690
2017-08-29    39931.182473
2017-08-30    29797.410711
2017-08-31    46352.293604
Name: revenue, Length: 153, dtype: float64

In [36]:
day_revenue = day_revenue.to_frame()

In [37]:
day_revenue = day_revenue.reset_index()

In [38]:
day_revenue

    arrival_date       revenue
0     2017-04-01  48687.893542
1     2017-04-02  34300.432966
2     2017-04-03  65462.831933
3     2017-04-04  37478.947416
4     2017-04-05  69707.223577
..           ...           ...
148   2017-08-27  51123.924572
149   2017-08-28  73542.772690
150   2017-08-29  39931.182473
151   2017-08-30  29797.410711
152   2017-08-31  46352.293604

[153 rows x 2 columns]

In [49]:
bins = [0, 10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, np.inf]
names = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
day_revenue['class'] = pd.cut(day_revenue['revenue'], bins, labels=names)

In [51]:
day_revenue

    arrival_date       revenue class
0     2017-04-01  48687.893542     4
1     2017-04-02  34300.432966     3
2     2017-04-03  65462.831933     6
3     2017-04-04  37478.947416     3
4     2017-04-05  69707.223577     6
..           ...           ...   ...
148   2017-08-27  51123.924572     5
149   2017-08-28  73542.772690     7
150   2017-08-29  39931.182473     3
151   2017-08-30  29797.410711     2
152   2017-08-31  46352.293604     4

[153 rows x 3 columns]

In [52]:
test_label = pd.read_csv('test_nolabel.csv')

In [53]:
test_label['label'] = day_revenue['class']

In [54]:
test_label.to_csv('baseline_0106.csv', index=False)