In [3]:
import pandas as pd

In [4]:
df_x = pd.read_csv('train.csv')

In [5]:
df_x.head()

,ID,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,0,Resort Hotel,0,342,2015,July,27,1,0,0,...,No Deposit,NaN,NaN,0,Transient,-6.305161,0,0,Check-Out,2015-07-01
1,1,City Hotel,0,257,2015,July,27,1,0,2,...,No Deposit,6.0,NaN,0,Transient,75.052227,0,0,Check-Out,2015-07-03
2,2,City Hotel,0,257,2015,July,27,1,0,2,...,No Deposit,6.0,NaN,0,Transient,74.546401,0,0,Check-Out,2015-07-03
3,3,City Hotel,0,257,2015,July,27,1,0,2,...,No Deposit,6.0,NaN,0,Transient,76.376288,0,0,Check-Out,2015-07-03
4,4,City Hotel,0,257,2015,July,27,1,0,2,...,No Deposit,6.0,NaN,0,Transient,49.411647,0,0,Check-Out,2015-07-03

In [6]:
df_x.columns.tolist()

['ID',
 'hotel',
 'is_canceled',
 'lead_time',
 'arrival_date_year',
 'arrival_date_month',
 'arrival_date_week_number',
 'arrival_date_day_of_month',
 'stays_in_weekend_nights',
 'stays_in_week_nights',
 'adults',
 'children',
 'babies',
 'meal',
 'country',
 'market_segment',
 'distribution_channel',
 'is_repeated_guest',
 'previous_cancellations',
 'previous_bookings_not_canceled',
 'reserved_room_type',
 'assigned_room_type',
 'booking_changes',
 'deposit_type',
 'agent',
 'company',
 'days_in_waiting_list',
 'customer_type',
 'adr',
 'required_car_parking_spaces',
 'total_of_special_requests',
 'reservation_status',
 'reservation_status_date']

In [7]:
df_x.shape

(91531, 33)

In [8]:
df_x = df_x[df_x.is_canceled == False].copy()
df_x.shape

(58771, 33)

In [9]:
df_x['arrival_date'] = df_x['arrival_date_year'].astype(str) + '-' + pd.to_datetime(df_x['arrival_date_month'], format='%B').dt.month.astype(str).apply(lambda x: x.zfill(2)) + '-' + df_x['arrival_date_day_of_month'].astype(str).apply(lambda x: x.zfill(2))

In [10]:
df_x['arrival_date']

0        2015-07-01
1        2015-07-01
2        2015-07-01
3        2015-07-01
4        2015-07-01
            ...
91525    2017-03-31
91527    2017-03-31
91528    2017-03-31
91529    2017-03-31
91530    2017-03-31
Name: arrival_date, Length: 58771, dtype: object

In [11]:
df_x['revenue'] = df_x.adr*(df_x.stays_in_week_nights+df_x.stays_in_weekend_nights)

In [12]:
day_revenue = df_x.groupby('arrival_date')['revenue'].sum()

In [13]:
day_revenue

arrival_date
2015-07-01    20311.186621
2015-07-02    16530.645277
2015-07-03    12966.714164
2015-07-04    17480.654256
2015-07-05    19591.458478
                  ...
2017-03-27    26217.381380
2017-03-28    16185.177703
2017-03-29    24002.255525
2017-03-30    33095.297394
2017-03-31    36062.103164
Name: revenue, Length: 640, dtype: float64

In [14]:
day_revenue = day_revenue.to_frame()

In [20]:
day_revenue = day_revenue.reset_index()

In [22]:
day_revenue

    arrival_date       revenue
0     2015-07-01  20311.186621
1     2015-07-02  16530.645277
2     2015-07-03  12966.714164
3     2015-07-04  17480.654256
4     2015-07-05  19591.458478
..           ...           ...
635   2017-03-27  26217.381380
636   2017-03-28  16185.177703
637   2017-03-29  24002.255525
638   2017-03-30  33095.297394
639   2017-03-31  36062.103164

[640 rows x 2 columns]

In [15]:
df_y = pd.read_csv('train_label.csv')

In [26]:
df_y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 2 columns):
arrival_date    640 non-null object
label           640 non-null float64
dtypes: float64(1), object(1)
memory usage: 10.1+ KB

In [28]:
day_revenue_with_label = df_y.merge(day_revenue, on='arrival_date')

In [32]:
day_revenue_with_label[day_revenue_with_label.label==5]

    arrival_date  label       revenue
31    2015-08-01    5.0  56063.346362
45    2015-08-15    5.0  57467.688304
47    2015-08-17    5.0  52351.728160
52    2015-08-22    5.0  55828.078777
341   2016-06-06    5.0  59170.412872
376   2016-07-11    5.0  50249.683581
381   2016-07-16    5.0  55765.124591
382   2016-07-17    5.0  54720.710049
386   2016-07-21    5.0  51280.031049
390   2016-07-25    5.0  59790.771360
396   2016-07-31    5.0  50009.794592
399   2016-08-03    5.0  50111.326422
400   2016-08-04    5.0  56537.498451
402   2016-08-06    5.0  56693.179336
407   2016-08-11    5.0  50600.723079
408   2016-08-12    5.0  52688.543973
410   2016-08-14    5.0  58105.258783
412   2016-08-16    5.0  58244.115701
417   2016-08-21    5.0  59493.187364
473   2016-10-16    5.0  52004.524058
495   2016-11-07    5.0  52451.438224

In [10]:
df_new_x = df_x.groupby('arrival_date')['ID'].count()

In [11]:
df_new_x = df_new_x.to_frame()

In [12]:
df_x['stay_nights'] = df_x['stays_in_weekend_nights']+df_x['stays_in_week_nights']

In [13]:
df_new_x['stay_nights_sum'] = df_x.groupby('arrival_date')['stay_nights'].sum()

In [14]:
df_new_x['stays_in_weekend_nights_sum'] = df_x.groupby('arrival_date')['stays_in_weekend_nights'].sum()

In [15]:
df_new_x['stays_in_week_nights_sum'] = df_x.groupby('arrival_date')['stays_in_week_nights'].sum()

In [43]:
df_new_x['month'] = pd.to_datetime(df_new_x.index).month

In [54]:
df_x['reserved_room_type'].value_counts()

A    67849
D    13624
E     4572
F     2100
G     1461
B      970
C      507
H      436
L        6
P        6
Name: reserved_room_type, dtype: int64

In [44]:
df_new_x.head(10)

,ID,stay_nights_sum,stays_in_weekend_nights_sum,stays_in_week_nights_sum,month
arrival_date,,,,,
2015-07-01,122,380,45,335,7
2015-07-02,93,366,75,291,7
2015-07-03,56,240,53,187,7
2015-07-04,88,439,164,275,7
2015-07-05,53,316,121,195,7
2015-07-06,75,357,109,248,7
2015-07-07,54,316,54,262,7
2015-07-08,69,270,40,230,7
2015-07-09,80,242,36,206,7
2015-07-10,51,270,80,190,7

In [45]:
df_y.head(10)

  arrival_date  label
0   2015-07-01    2.0
1   2015-07-02    1.0
2   2015-07-03    1.0
3   2015-07-04    1.0
4   2015-07-05    1.0
5   2015-07-06    2.0
6   2015-07-07    1.0
7   2015-07-08    1.0
8   2015-07-09    1.0
9   2015-07-10    2.0

In [46]:
df_y[df_y['label']==9]

   arrival_date  label
86   2015-09-25    9.0

In [47]:
df_new_x[df_new_x.index=='2015-09-25']

,ID,stay_nights_sum,stays_in_weekend_nights_sum,stays_in_week_nights_sum,month
arrival_date,,,,,
2015-09-25,275,1152,436,716,9

In [48]:
from sklearn.ensemble import RandomForestClassifier

In [49]:
clf = RandomForestClassifier(n_estimators=300, max_depth=2, random_state=0, oob_score=True)

In [50]:
clf.fit(df_new_x, df_y['label'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=2, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=300,
                       n_jobs=None, oob_score=True, random_state=0, verbose=0,
                       warm_start=False)

In [51]:
clf.oob_score_

0.5296875

In [52]:
clf.score(df_new_x, df_y['label'])

0.55

In [33]:
clf.predict(df_new_x)

array([2., 1., 1., 1., 1., 1., 1., 1., 1., 1., 2., 1., 1., 0., 1., 1., 2.,
       3., 1., 2., 1., 1., 1., 1., 3., 1., 2., 0., 1., 1., 1., 2., 1., 3.,
       1., 2., 1., 2., 3., 1., 3., 2., 2., 1., 2., 3., 1., 3., 1., 1., 1.,
       1., 3., 1., 2., 2., 1., 1., 1., 2., 1., 2., 2., 2., 2., 2., 3., 3.,
       2., 1., 2., 2., 2., 3., 1., 2., 2., 2., 2., 2., 3., 2., 3., 1., 2.,
       3., 3., 3., 1., 1., 2., 2., 2., 2., 3., 3., 3., 2., 2., 2., 2., 3.,
       1., 3., 1., 1., 2., 2., 1., 2., 3., 1., 1., 1., 1., 1., 2., 1., 0.,
       2., 1., 1., 2., 0., 1., 1., 0., 0., 2., 2., 1., 1., 0., 1., 0., 0.,
       0., 0., 1., 0., 2., 0., 2., 0., 0., 2., 0., 0., 0., 1., 0., 0., 1.,
       0., 0., 1., 2., 3., 0., 0., 2., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 1., 1., 0., 1., 2., 1., 2., 2., 2., 0., 2., 0.,
       1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 1., 1., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 1., 1., 2., 3.,
       1., 1., 0., 1., 1., 2., 2., 1., 1., 0., 2., 1., 2., 1., 1., 1., 1.,
       1., 2., 2., 3., 3., 1., 2., 2., 1., 2., 2., 1., 2., 1., 2., 1., 2.,
       2., 1., 2., 1., 1., 2., 2., 3., 3., 2., 2., 2., 2., 3., 1., 1., 2.,
       1., 2., 2., 1., 1., 1., 3., 1., 2., 2., 2., 3., 2., 3., 2., 2., 2.,
       2., 2., 2., 3., 2., 2., 2., 3., 3., 2., 2., 2., 2., 2., 3., 3., 1.,
       3., 1., 2., 2., 2., 2., 2., 3., 2., 2., 2., 3., 2., 3., 3., 2., 2.,
       2., 2., 3., 2., 2., 2., 1., 2., 1., 1., 3., 3., 2., 2., 2., 2., 2.,
       2., 3., 2., 2., 2., 2., 2., 3., 2., 2., 2., 2., 3., 2., 2., 3., 2.,
       1., 2., 2., 1., 3., 3., 2., 1., 2., 2., 3., 2., 3., 2., 2., 2., 2.,
       3., 2., 3., 2., 2., 2., 2., 3., 3., 3., 1., 2., 2., 2., 3., 2., 3.,
       1., 2., 2., 1., 3., 2., 3., 2., 2., 2., 2., 3., 2., 3., 2., 2., 2.,
       2., 3., 3., 3., 2., 2., 2., 2., 3., 3., 3., 2., 2., 2., 2., 3., 3.,
       3., 2., 2., 2., 2., 3., 3., 3., 2., 2., 2., 2., 2., 3., 2., 2., 2.,
       2., 2., 2., 3., 3., 2., 2., 2., 2., 2., 2., 3., 2., 2., 2., 3., 3.,
       2., 3., 2., 2., 2., 2., 2., 3., 2., 2., 2., 2., 2., 2., 3., 3., 2.,
       2., 2., 2., 3., 3., 2., 2., 2., 2., 3., 3., 3., 2., 2., 2., 2., 2.,
       2., 2., 3., 1., 1., 2., 2., 3., 2., 2., 1., 2., 2., 2., 2., 1., 2.,
       0., 1., 1., 2., 1., 1., 1., 1., 0., 2., 2., 2., 1., 2., 1., 2., 2.,
       1., 1., 0., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 2., 2., 2., 1.,
       2., 2., 2., 2., 2., 1., 2., 2., 2., 1., 1., 1., 1., 1., 1., 1., 0.,
       2., 1., 2., 1., 3., 0., 2., 2., 1., 1., 1., 2., 1., 2., 1., 2., 1.,
       1., 1., 0., 2., 2., 1., 2., 1., 1., 1., 1., 2., 2., 2., 3., 3., 1.,
       2., 2., 2., 2., 2., 2., 1., 2., 2., 2., 3., 3., 2., 1., 3., 2., 2.,
       1., 3., 2., 2., 1., 2., 2., 3., 2., 3., 2., 2., 2., 2., 2., 3., 2.,
       2., 1., 2., 2., 2., 2., 2., 1., 2., 2., 2.])

In [40]:
from joblib import dump, load
dump(clf, 'clf.joblib')

['clf.joblib']

In [34]:
from sklearn.ensemble import RandomForestRegressor

In [35]:
reg = RandomForestRegressor(n_estimators=300, max_depth=2, random_state=0, oob_score=True)

In [36]:
reg.fit(df_new_x, df_y['label'])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=2,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=300,
                      n_jobs=None, oob_score=True, random_state=0, verbose=0,
                      warm_start=False)

In [37]:
reg.oob_score_

0.562119356434998

In [38]:
reg.predict(df_new_x)

array([1.38144065, 1.38144065, 0.83660151, 1.89037311, 1.31438286,
       1.36015853, 1.31438286, 1.11080294, 0.83660151, 1.11080294,
       1.72850026, 1.31438286, 1.35617441, 0.22501625, 1.18599053,
       1.38144065, 1.84024342, 3.64455315, 1.2470345 , 2.41654818,
       0.85221616, 1.36015853, 1.35617441, 1.25475426, 3.66135582,
       1.18599053, 2.41654818, 0.18608684, 0.83660151, 1.35617441,
       0.85221616, 3.57613173, 1.31438286, 3.16809278, 0.82777287,
       1.79443668, 0.34337667, 1.78756366, 3.70691568, 1.38144065,
       3.66230851, 2.26773959, 1.38144065, 1.36015853, 2.49755581,
       3.70691568, 2.19238289, 3.55622094, 1.36015853, 1.03677705,
       1.38144065, 1.31438286, 3.62855749, 1.78756366, 2.26773959,
       2.41654818, 1.31438286, 1.36015853, 1.31438286, 1.87240564,
       1.38144065, 1.82950331, 2.41654818, 2.45077075, 2.41654818,
       2.41959866, 3.70691568, 3.61338106, 2.43074594, 1.36015853,
       2.41959866, 2.41654818, 2.41959866, 3.70691568, 1.38144065,
       2.33466995, 2.41959866, 2.33466995, 2.51370362, 2.50333147,
       3.70691568, 3.54284009, 3.61910598, 1.2470345 , 2.32851792,
       3.61858347, 3.84166372, 3.64455315, 1.31438286, 1.36015853,
       1.72850026, 2.33466995, 1.89037311, 2.41959866, 3.69679853,
       3.64455315, 3.70691568, 2.45077075, 2.37207068, 2.43867787,
       2.42326124, 3.64455315, 1.31068958, 3.57613173, 1.07634709,
       0.83660151, 2.45077075, 2.45077075, 1.2470345 , 3.32132368,
       3.68556161, 1.36015853, 1.36015853, 1.34679056, 1.34679056,
       1.36015853, 3.60594795, 2.33466995, 0.18608684, 1.78756366,
       1.31438286, 1.25475426, 1.78756366, 0.33957476, 2.33466995,
       1.38144065, 0.18608684, 0.18608684, 1.79443668, 2.41959866,
       1.18599053, 1.11475518, 0.18608684, 0.34337667, 0.18608684,
       0.18608684, 0.18608684, 0.18608684, 0.85221616, 0.18608684,
       2.41959866, 0.18608684, 1.87240564, 0.18608684, 0.18608684,
       2.56948565, 0.18608684, 0.18608684, 0.18608684, 1.31438286,
       0.18608684, 0.18608684, 1.03677705, 0.18608684, 0.18608684,
       0.47282539, 1.80942401, 3.84166372, 0.18608684, 0.18608684,
       1.84024342, 1.36015853, 0.18608684, 0.18608684, 0.18608684,
       0.18608684, 0.18608684, 0.18608684, 0.18608684, 0.18608684,
       0.18608684, 0.18608684, 0.18608684, 0.18608684, 1.38144065,
       1.31438286, 1.18599053, 0.18608684, 1.45753357, 2.12551845,
       1.31438286, 2.41959866, 2.50333147, 1.38144065, 0.18608684,
       3.42870086, 0.18608684, 0.83660151, 0.18608684, 0.18608684,
       0.18608684, 0.83660151, 0.18608684, 0.22501625, 0.18608684,
       1.04946184, 0.18608684, 0.88199886, 0.82777287, 0.18608684,
       0.18608684, 0.18608684, 1.36015853, 0.18608684, 0.18608684,
       0.18608684, 0.18608684, 0.18608684, 0.18608684, 0.18608684,
       1.31438286, 0.47282539, 0.18608684, 0.18608684, 0.18608684,
       0.22501625, 0.18608684, 1.36015853, 1.31438286, 1.38144065,
       3.64455315, 1.42146388, 1.03252659, 0.18608684, 0.38042898,
       1.31438286, 2.45077075, 1.78756366, 1.36015853, 1.2470345 ,
       0.18608684, 2.45077075, 0.83660151, 2.17571648, 1.31438286,
       1.36015853, 1.38144065, 0.38042898, 0.85221616, 2.37207068,
       2.45077075, 3.62319908, 3.64455315, 1.31438286, 1.89037311,
       2.37207068, 1.36015853, 2.50333147, 1.79874255, 0.47282539,
       2.41959866, 1.31438286, 2.19238289, 1.38144065, 2.39284749,
       1.79443668, 1.376617  , 1.70986032, 1.38144065, 1.35617441,
       2.41959866, 2.41654818, 3.64455315, 3.77393124, 2.41959866,
       2.19897413, 1.72850026, 2.50333147, 3.55622094, 1.31438286,
       1.35617441, 2.45077075, 1.45753357, 2.41654818, 2.45077075,
       1.31438286, 1.3677926 , 1.36015853, 3.55622094, 1.31438286,
       2.19584975, 2.41959866, 2.41654818, 3.70691568, 3.54495964,
       3.37658745, 2.33466995, 2.3228636 , 2.41959866, 1.84024342,
       3.51761574, 3.60594795, 3.62855749, 2.41959866, 2.45077075,
       1.78756366, 3.70691568, 3.62855749, 3.61338106, 2.41959866,
       2.39284749, 2.45077075, 2.50333147, 3.71116988, 3.62855749,
       1.45038243, 3.70691568, 1.2470345 , 1.72850026, 2.51370362,
       1.38144065, 2.41654818, 3.60594795, 3.48610836, 1.8367307 ,
       1.78407598, 2.50333147, 3.62319908, 2.38781099, 3.61338106,
       3.62855749, 2.45077075, 1.79874255, 2.50333147, 2.41959866,
       3.52504885, 3.41338803, 1.72850026, 2.42326124, 1.36015853,
       2.50333147, 0.96527   , 1.31438286, 3.64455315, 3.55622094,
       2.45077075, 2.41654818, 2.47906144, 2.43867787, 2.80955136,
       1.8980584 , 3.62319908, 2.41654818, 1.85113196, 2.45077075,
       2.43867787, 2.281628  , 3.78430339, 2.39284749, 2.45077075,
       2.45077075, 2.41654818, 2.85023651, 2.41654818, 3.58995229,
       3.55622094, 2.41654818, 1.36015853, 1.38144065, 2.45077075,
       1.36015853, 3.77393124, 3.54275733, 2.43867787, 1.36015853,
       2.45077075, 2.45077075, 3.55622094, 3.59202699, 3.57302361,
       2.41654818, 2.50333147, 2.41959866, 2.32851792, 3.54275733,
       3.18697952, 3.1605513 , 2.41654818, 2.41654818, 2.41959866,
       2.41654818, 3.70691568, 3.60853269, 3.68556161, 1.38144065,
       1.79874255, 2.43867787, 2.17571648, 3.70691568, 3.59202699,
       3.58997196, 1.45038243, 2.37207068, 2.41340582, 1.35617441,
       3.64455315, 3.50853477, 3.77464816, 2.43867787, 2.45077075,
       2.45077075, 2.35284374, 3.57613173, 3.58995229, 3.71728783,
       2.41654818, 2.31294332, 2.42326124, 2.43421979, 3.69679853,
       3.64455315, 3.61858347, 2.45077075, 2.33466995, 2.45077075,
       2.41959866, 3.70691568, 3.64455315, 3.68146851, 2.3228636 ,
       2.41654818, 2.41959866, 2.45441818, 3.61910598, 3.64455315,
       2.82588047, 2.37207068, 2.32851792, 2.50333147, 2.45077075,
       3.64455315, 3.60853269, 3.70079773, 1.84024342, 2.3228636 ,
       2.45077075, 2.45077075, 2.19897413, 3.61338106, 2.79470838,
       2.33466995, 1.38144065, 2.50333147, 2.43867787, 1.79874255,
       3.64455315, 3.69068058, 2.45077075, 2.45077075, 2.43074594,
       1.72850026, 1.45753357, 3.61338106, 3.84166372, 1.70986032,
       1.78756366, 2.41959866, 3.69092002, 3.61704364, 3.61338106,
       2.82588047, 2.43074594, 2.43421979, 2.50333147, 2.41959866,
       2.73973022, 3.64455315, 2.78162573, 2.19897413, 2.50333147,
       2.50333147, 2.45077075, 2.32475246, 3.78430339, 3.55622094,
       1.45038243, 1.78756366, 2.47906144, 2.45077075, 3.64455315,
       3.64455315, 2.41654818, 2.32851792, 2.41654818, 2.42326124,
       3.61858347, 3.64455315, 3.64455315, 2.41959866, 2.45077075,
       2.41654818, 2.45077075, 2.45077075, 2.43074594, 3.51761574,
       3.77464816, 1.2470345 , 0.47282539, 2.281628  , 2.41959866,
       3.61866282, 3.53752653, 2.41654818, 1.03677705, 2.20602986,
       2.41654818, 2.43867787, 2.33466995, 1.38511085, 2.41654818,
       0.18608684, 1.36015853, 1.31438286, 1.84024342, 1.31438286,
       1.31919872, 1.2470345 , 1.25475426, 0.18608684, 2.43867787,
       2.41959866, 3.51761574, 1.31438286, 2.19897413, 0.85221616,
       1.48354219, 2.45077075, 1.31438286, 1.03252659, 0.18608684,
       0.85221616, 0.83660151, 0.18608684, 1.2470345 , 1.36015853,
       1.45038243, 0.33957476, 1.31438286, 1.28010994, 1.36015853,
       2.41959866, 2.41959866, 2.43228848, 1.03252659, 2.46651105,
       2.50333147, 2.45077075, 2.45077075, 2.45077075, 0.80018282,
       2.15401159, 2.45077075, 1.79874255, 1.35617441, 1.36015853,
       1.38511085, 1.36015853, 1.385989  , 1.2470345 , 1.48354219,
       0.18608684, 1.376617  , 0.34337667, 2.41654818, 1.79874255,
       2.83958092, 0.18608684, 2.41959866, 1.79443668, 0.83660151,
       1.38511085, 1.36015853, 2.4085878 , 1.31438286, 2.32851792,
       1.31438286, 1.80942401, 1.2470345 , 1.2470345 , 1.31438286,
       0.18608684, 2.33466995, 1.79874255, 1.35617441, 2.41959866,
       1.79874255, 1.36015853, 0.34337667, 0.83660151, 2.32851792,
       2.43421979, 1.84024342, 3.64455315, 2.78787398, 1.36015853,
       2.41654818, 2.3228636 , 2.45077075, 1.48354219, 3.49605708,
       2.41959866, 1.35617441, 2.41654818, 2.41654818, 1.87240564,
       3.67830417, 3.64455315, 1.79874255, 1.04946184, 3.7586525 ,
       2.51370362, 1.38144065, 1.31438286, 3.71728783, 2.19238289,
       2.26773959, 1.36015853, 2.43867787, 2.37207068, 3.55622094,
       3.59202699, 2.81260184, 2.50333147, 2.45077075, 2.45077075,
       1.79874255, 1.48354219, 3.6384352 , 2.41959866, 2.41654818,
       1.18599053, 2.2026855 , 2.41959866, 3.13387021, 3.58459388,
       2.41654818, 1.36015853, 1.85113196, 2.43867787, 2.45077075])